<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{username}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"></head>

<body>
  <div class='container'>
  	<div class="page-header">
        <h1>{{username}} <small>page {{ page }}</small></h1>
      </div>
      <div class='userstream'>

          <div class="accordion" id="propsaccordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#propsaccordion" href="#sprops">
                  View superproperties
                </a>
              </div>
              <div id="sprops" class="accordion-body collapse">
                <div class="accordion-inner">
                  {{user.super_properties}}
                </div>
              </div>
            </div>
            <br>
           {% for event in user.events %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{username}}accordion" href="#{{ event.id }}">
                  <span style="background-color: {{event.color}};">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> {{event.name}} - {{event.time}}
                </a>
              </div>
              <div id="{{ event.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {{event.properties}}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
          {% if prevpage!='0' %}
          <a href="?u={{session_id}}&p={{prevpage}}">
          prev
          {% endif %}
          {% if nextpage %}
          
          <a href="?u={{session_id}}&p={{nextpage}}">
          next</a>
          {% endif %}
  </div>
  
      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>

</body>
</html>
